//css grid
// #ff5858 red color
html , body{
	width: 100%;
	height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}



html {
	font-family:'Open Sans', Helvetica;
	font-size:18px;
}


body {
	font-family: "Helvetica Neue", "Helvetica",sans-serif;
	font-size: 100%;
	font-weight: 300;
}

ul, ol{
	list-style-position: inside;
}

body > section{
	width: 100%;
}

nav {
	width: 100%;
	background-color: #ff5858;
	--color: #ffffff;
}

nav > ul {
	display: flex;
}

nav > ul > li{
	list-style-type: none;
	padding: 1rem 1.2rem;
}

nav > ul > li a{
	text-decoration: none;
	color: var(--color);
	white-space: nowrap;
	text-align: center;
	font-size: 1.3em;
	font-weight: 200;
}

h1 {
	color: var(--color);
	font-size:1.2em;
	font-weight:700;
	margin-bottom: 1rem;
}

form{
  display: flex;
  align-items: center;
  height: 3.5em;
  margin-bottom: 3em;
  max-width: 65em;
}

img{
	width: 80%;
}

p{
	text-align: center;
}
.hide{
	display: none;
}

.button {
	border-color:rgba(255, 88, 88, 1);
	border-style:solid;
	border-width:0.1rem;
	background-color: rgba(255, 88, 88, 1);
	color: #ffffff;
	font-weight: 300;
	width: 30%;
	font-size:.85em;
	padding:.35em .75em;
	height: inherit;
	text-decoration:none;
	text-transform:uppercase;
	transition:color .3s, background-color .3s, border .3s;
}

.button:hover, .button:focus{
		outline: none;
		background-color: rgba(255, 88, 88, .9);
		color: #ffffff;
		font-weight: 400;
		border: 0.2rem solid rgba(255, 88, 88, 1);
		box-shadow: 0 0 5px 1px rgba(243, 49, 85, 0.8);
		word-spacing: 1rem;
}

input[type='text']:focus, input[type='text']:hover{
	// box-shadow: 0 0 5px 1px rgba(243, 49, 85, 0.8);

}


main{
	padding: 2em 1em 2em;
}

main > section{
	font-weight: 100;
}

input[type='text']{
	  width: 80%;
    height: inherit;
    border: 0.1rem solid rgba(255, 88, 88, 1);
    padding: 0 .5em;
}


input[type='text']:focus, input[type='text']:hover{
	  background: rgba(255, 88, 88, 0.3);
    color: inherit;
    font-weight: 300;
    font-size: 1.8em;
    border: 0.2rem solid rgba(255, 88, 88, 1);
		outline: none;
	}

// #painting-overview{
// 	display: none;
// }

a div{
	width: fit-content;
}
.item{
	display: flex;
	flex-wrap: wrap;
	max-width: 40vw;
	margin-right: 2em;
	margin-bottom: 4em;
	background-color: #d3d3d3;
}

#home{
    // display: block;
    margin: 0 auto;
    max-width: 67em;
}

#painting-details{
	display: flex;
}

#painting-overview{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 67em;
}

#home-overview{
	display: flex;
	flex-wrap: wrap;

}

#home-overview div{
    width: 40vw;
    box-shadow: 1px 1px 5px lightgrey;
    margin: 0.5em;
    border-radius: 0.1rem;
    background: white;
    padding: 1em;
}
